div(style="background-color: rgb(245, 245, 245);")
	h3 
		<a href="" ng-click="showDetails = ! showDetails">Config</a>
	|<span ng-show="showDetails" ng-bind-html="job.config | nl2p"></span>
div(style="background-color: rgb(245, 245, 245);")
	h3 
		<a href="" ng-click="showDetails2 = ! showDetails2">Input</a>
	|<span ng-show="showDetails2" ng-bind-html="job.input | nl2p"></span>
div(style="background-color: rgb(245, 245, 245);")
	h3 
		<a href="" ng-click="showDetails3 = ! showDetails3">Output</a>
	|<span ng-show="showDetails3" ng-bind-html="job.output | nl2p"></span>
	
	
|       <!-- data table section --->
|   <div class="row-fluid", style="background-color: rgb(245, 245, 245);">
|    <div class="span12">
|    <h3> Quality control </h3>
| 	<table class="table table-striped table-condensed table-hover">	
| 		  <thead>
|    <tr>
|          <th>ID</th>

|          <th>Name</th>
|          <th>Min</a></th>
|          <th>Max</th>
|          <th>Value</th>
|          <th>Units</th>
|          <th>Passed</th>
|          <th>Info</th>
     
|    </tr>
|  </thead>
|    <tbody>
|        <tr ng-repeat="qc in quality_controls "  >
|          <td><a href ng-click="open(qc.plot_file)">{{qc.id}}</a></td>

|          <td >{{info[qc.ref].Name}}  </td>
|          <td>{{qc.min_value}}</td>
|          <td>{{qc.max_value}}</td>
|          <td>{{qc.value}}</td>
|          <td>{{qc.units}}</td>
|          <td>{{qc.qc_pass}}</td>
|          <td > <i class='icon-info-sign' tooltip={{info[qc.ref].QC_description}}><i></td>
|        </tr>
|    </tbody>  
|  </table>



|   <!-- data table section end here--->
|<script type="text/ng-template" id="myModalContent.html">
|        <div class="modal-header">
|            <h3>Quality control Plot</h3>
|        </div>
|        <div class="modal-body">
|           <img ng-src="/img_plots/{{plot_name}}" style="margin:auto;">

|        </div>
|        <div class="modal-footer">

|            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
|        </div>
|    </script>


|  </div>